.flex-container {
    display: flex;
    flex-direction: row;
    background-color: #a6a6a6;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}

.seccions {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white
}   
.cerca{
    border-radius: 10px;
}
.seccions:hover {
    color: black;
    transition-duration: 2s;
}
.button {
    display: none;
}
@media screen and (max-width: 1040px) {
    .seccions {
        display: none;
    }

    .button {
        display: block;
    }
    .aaa{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .cerca {
        display: none;
    }
}




.grid-primer{
    display: grid;
    grid-template-areas: 
    "SobreNosaltres foto";
    grid-template-columns: 1fr 1fr;
    margin: 0px 100px 50px 100px;
    gap: 50px;
    padding-top: 40px;
}
.primer{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: SobreNosaltres;
    margin: 100px 0px 100px 0px;
}
.img1{
    grid-template-areas: foto;
    height: 400px;
    width: 600px;
}
.redondeado10px{
    border-radius: 10px;
}
.fuente{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fuente-lil{
    font-size: 14px;
}
.fondo{
    background-color: #d9d9d9;
}
.margin{
    margin: 0px 100px 50px 100px;
}



.grid-segundo{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
}
.nom{
    color: #666699;
}
.negrita{
    font-weight: bold;
}
.fuente-mid{
    font-size: 24px;
}
.img2{
    width: 80px ;
    height: 80px;
    margin: 10px;
}
.color{
     color: #595959;;
}
.carrec{
    color: white; 
    font-size: 20px;   
}
.descripcio{
    font-size: 16px;
}
.segundo{
    
    text-align: center;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.segundo:hover{
    transform: scale(1.02);
}
.centro{
    text-align: center;
}

.p-20{
    padding-top: 20px;
}
.grid-container{
    display: grid;
    gap: 20px;   
    grid-template-columns: auto auto auto;
    width: auto;
    overflow: hidden;
   
    text-align: center;
}


.grid-container > div{
    background-color: white;
    
    width: 350px;
    height: auto;
    border-radius: 20px;
    border: 5px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.img3{
    width: 350px;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}
.grid-container > div:hover{
    transform: scale(1.01);
}


.grid-tercero{
    display: grid;
    justify-content: space-between

}
.ancho{
    width: 100%;
}
.margin25{
    margin-left: 250px;
}

.contenidor-marges{
    width: 80%;
    margin: auto;
}