aside{
    padding: 10px;
    background-color: #00ff99;
    grid-area: MyAside;
    font-weight: bold;
    display: grid;
}
main{
  background-color: #ff66ff;
  grid-area: MyMain;
  padding: 10px;
}
footer{
    background-color: #0000ff;
    color: white;
    grid-area: MyFooter;
    padding: 10px;
}
.grid-container{
    display: grid;  
    grid-template-columns: 1fr 6fr;
    grid-template-rows:  auto auto auto;
    grid-template-areas: 
    "Mynavbar Mynavbar"
    "MyAside MyMain"
    "MyFooter MyFooter";  
}
nav{
    grid-area: Mynavbar;
    background-color: #006666;
    color: white;
    font-weight: bold;
    padding: 10px; 
}
.link{
    padding-left: 30px;
}